{% extends 'play/base.html.twig' %}

{% block title %}Hello PlayController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dice') }}
{% endblock %}

{% block body %}

    <p>Amount: <span id="app-wallet-amount">{{ app.user.wallet.amount }}</span></p>
    <p>In game: <span id="game-session-amount">0</span></p>
    <small>Session: <span id="game-session-id">-</span></small>
    {% if game.type == 1 %}
        {% include 'play/type/dice.html.twig' %}
    {% else %}
        {% include 'play/type/slots.html.twig' %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window.gameConfig = {
            userId: {{ app.user.id|default(-1) }},
            client: 1,
            gameId: {{ app.request.get('id') }},
            mode: 0,
            generatorConfig: {
                min: {{ game.generatorConfig.min }},
                max: {{ game.generatorConfig.max }},
            }
        }
        window.gameDOMHandlers = {
            root: 'game-container',
            result: 'game-result',
            betsList: 'game-bets-list',
            nextAction: 'game-next-action',
            numbersList: 'game-numbers-list',
            lastBets: 'game-last-bets',
            betsCost: 'game-bets-cost'
        }
    </script>
    {{ encore_entry_script_tags('slots') }}
    {{ encore_entry_script_tags('dice') }}
{% endblock %}