{% extends './base.html.twig' %}

{% block title %}Hello PlayController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dice') }}
{% endblock %}

{% block body %}

    <div id="game-container">
        <div id="game-header">
            <h1>{{ game.name }}</h1>
        </div>

        <div id="game-result">
            Result
        </div>

        <div id="game-parameter">
            <div id="game-options">

                <ul id="game-numbers">
                {% for i in range(game.generatorConfig.min, game.generatorConfig.max) %}
                    <li>{{ i }},</li>
                {% endfor %}
                </ul>
            </div>

        </div>

        <div id="game-action">
            <div id="play">PLAY</div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window.gameConfig = {
            userId: {{ app.user.id }},
            client: 'asdasdasczxczxcxzc',
            gameId: {{ app.request.get('id') }},
            mode: 0,
            generatorConfig: {
                min: {{ game.generatorConfig.min }},
                max: {{ game.generatorConfig.max }},
            }
        }
        window.gameDOMHandlers = {
            root: '#game-container',
            result: 'game-result',
        }
    </script>
    {{ encore_entry_script_tags('dice') }}
{% endblock %}